      body {
        background-color: lightblue;
        margin: 0px;
      }


      .topbar {
            background-color: lightgray;
      }

      .topbarButton {
            float: center;
            width: 9vw;
            height: 30px;
            border-radius: 2px;
            border: 2px solid rgb(4, 72, 72);
            background-color: rgba(0, 0, 0, 0); /* transparent */
            color: white;
            text-align: center;
            margin: 0.344%;
            padding: 0%;
      }
      .topbarButton:hover {
            background-color: rgb(4, 72, 72);
      }

      buttonNumber {
                  display: none;
      }
      buttonText {
            display: normal;
      }

      @media only screen and (min-width: 1350px) {
            buttonNumber {
                  display: none;
            }
            buttonText {
                  display: normal;
            }
            .topbarButton {
                  width: 9vw;
            }
       }
      
      @media only screen and (max-width: 1350px) {
            buttonNumber {
                  display: normal;
            }
            buttonText {
                  display: none;
            }
            .topbarButton {
                  width: 8.5vw;
            }
       }
      @media only screen and (max-width: 1200px) {
            buttonNumber {
                  display: normal;
            }
            buttonText {
                  display: none;
            }
            .topbarButton {
                  width: 8.5vw;
            }
       }
       @media only screen and (max-width: 570px) {
            buttonNumber {
                  display: normal;
            }
            buttonText {
                  display: none;
            }
            .topbarButton {
                  width: 8vw;
            }
       }


      .editor { 
        grid-area: editor;
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        text-align: left;
        width: 95%;
        height: 95%;
        float: top;
        min-height: 250px;
        min-width: 50px;
        overflow: scroll;
        margin: auto;
        display: inline-block;
        background: #f4f4f9;
        outline: none;
        float: left;
        /*outline: none; overflow-y: auto; padding-left: 0px; counter-reset: line;*/ 
        /*background-color: rgb(200, 200, 200); 
        width: 40vw;/*grid-area: code;*/ 
      }


      /*.editor div { display: block; position: relative; white-space: pre-wrap; color: darkgray;  }*/
      iframe { 
        /*float: top;*/
        width: 95%;
        height: 95%;
        outline: none;
        border: none;
      }
      .background {
        grid-area: display;
        /*float: right;*/
        width: 95%;
        height: 95%;
        outline: none;
        display: inline-block;
        border: none;
        background: #f4f4f9;
        margin: 0px;
      }

      .container {
            grid-area: container;
            display: grid;
            grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw;
            grid-template-rows: auto;
            grid-template-areas: 
                  "editor editor editor editor runButton display display display display"
                  "editor editor editor editor runButton display display display display"
                  "editor editor editor editor runButton display display display display";
            margin: 0px;
      }
      .editorArea {
            height: 50vh;
            width: 100%;
            padding: 1px;
            background-color: rgb(200, 200, 200);
            border: 2px rgb(100, 100, 100) solid;
      }
      .centerArea {
            text-align: left;
            float: center;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            display: grid;
            grid-template-columns: 33vw 33vw 33vw;
            grid-template-rows: auto;
            grid-template-areas: 
                  ". title ."
                  ". title ."
                  ". description ."
                  ". description ."
                  ". description ."
                  ". description ."
                  ". container ."
                  ". container .";
      }
      .buttonArea {
            padding: 0px;
            margin: 0px;
            grid-area: buttonArea;      
      }
      .menuButton {
            float: center;
            width: 100px;
            height: 30px;
            border-radius: 2px;
            border: 2px solid rgb(12, 120, 120);
            background-color: rgba(0, 0, 0, 0); /* transparent */
            color: white;
            text-align: center;
            margin: 5px;
            padding: 0%;
      }
      .menuButton:hover { 
            background-color: rgb(12, 120, 120);
      }

      .title {
            background-color: lightgray;
            grid-area: title;
            text-align: center;
            font: TimesNewRoman; 
            /*padding: 30px;*/
            margin-top: -30px;
            /*margin-left: -30px;
            margin-right: -30px;*/
      }
      h1 {
            font-size: 30pt;
      }
      .about {
            font-size: 14pt;
            margin: 10px;
            grid-area: description;
      }
      /*.editor div::before { content: counter(line); counter-increment: line; position: absolute; right: calc(100% + 16px); opacity: 0.5; }*/
      .tempButton {
        grid-area: tempButton;
        width: 100%;
        color: white;
        background-color: orange;
        height: 10%;
      }
      .runButton {
        grid-area: runButton;
        width: 100%;
        color: white;
        background-color: orange;
        height: 10%;
      }
      .tempButton:hover {
        color: lightgray;
        background-color: darkorange;
      }
      .runButton:hover {
        color: lightgray;
        background-color: darkorange;
      }
      .tempButton:active {
        color: darkgray;
        background-color: rgb(200, 75, 0);
      }
      .runButton:active {
        color: darkgray;
        background-color: rgb(200, 75, 0);
      }
      .tempButton:focus {
        color: white;
        background-color: orange;
        outline: 0 !important;
        border: 3px black solid;
      }
      .runButton:focus {
        color: white;
        background-color: orange;
        outline: 0 !important;
        border: 3px black solid;
      }

      basewords { 
        color: purple; 
      }
      cssTerms {
            color: rgb(170, 140, 0);
      }
      comment { 
        color: gray; 
      }
      inquotes { 
        color: rgb(255, 100, 0) !important; 
      }
      datatype { 
        color: rgb(0, 200, 100); 
      }
      number { 
        color: blue; 
      }
      text { 
        color: black; 
      }
